{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <div class="jumbotron">
      <h2 class="text-center">Login to Donut!</h2>
      <form action="{{ url_for('auth.login_submit') }}" method="post">
        <div class="row">
          <div class="col-md-12 text-center">
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
