
body {
    padding-top: 65px;
    background-image: url(http://www.lafeens.com/wp-content/uploads/2012/12/donuts_background-e1355174695278.jpg);
    background-size: cover;
    padding: 20px;
}

#footer {
    width: 100%;
    display: table;
    text-align: center;
    background-color: orange;
    //background-color: rgba(255, 0, 0, 1);
}

#copyright {
    padding: 15px;
}

.message {
  background-color: #FFEB99;
  border-right: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 15px;
  padding: 10px;
}
