<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Rebuta</title>
        
        <link rel="stylesheet" type="text/css" 
              href="{{ url_for('static', filename='css/style.css') }}" />
        {# Google Fonts #}
        <link href='https://fonts.googleapis.com/css?family=EB+Garamond|Roboto' rel='stylesheet' type='text/css'>

        {# Bootstrap core CSS #}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        {# Bootstrap theme #}

        {# Just for debugging purposes. Don't actually copy this line! #}
        {# [if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif] #}

        {# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
        <!-- [if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif] -->
        {% block head %}
        {% endblock head %}
    </head>
        <body>
            {% include "includes/header.html" %}
            <div id="content">
                <div id="content-body">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="message">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    {% block body %}
                    {% endblock body %}
                </div>
            </div>
            {% include "includes/footer.html" %}
            {# Bootstrap core JavaScript
            {# Placed at the end of the document so the pages load faster #}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        </body>
</html>
