{% extends "layout.html" %}
{% block body %}

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <img src="{{  url_for('static', filename='images/newdonut.png')  }}" alt="d(O)nut" title="d(O)nut" style="margin: auto; display: block">
        <p>Welcome to Donut, the official website of the Associated Students of the California Institute of Technology. We provide unique services on behalf of the student body in an effort to better communication and make services accessible to all students.<p>

        <p>If you're a guest or prospective student, you might consider looking into our publications or ASCIT documents in the left-hand sidebar to get a better idea of who we are. You can also email the board of directors from the suggestions page if you'd like more information.
            If you're a student or on campus, you can explore more features, such as the undergraduate directory search or course review system.<p>

        <p>And of course, if you have any questions/comments/concerns/jokes you'd like the site admins to know, don't hesitate to contact us below.<p>

            Sincerely,
            <br>Donut Devteam

        </p>
    </div>

</div>

{% endblock %}
